<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>My Blog</h1></div>
           </div>
        <div class="content">
            <div class="card">
                {% if param =="1": %}
                    <h2>{{wadu[0]['title']}}</h2>
                    <p>{{wadu[0]['body']}}</p>
               {% else:  %}
                <h2>{{wadu[1]['title']}}</h2>
                <p>{{wadu[1]['body']}}</p>

                {% endif %}

            
            </div>

    </div>
</div>
</body>
<footer>
    <p>Made with ♥️ in London.</p>
</footer>
</html>